<%
  @links = [

    rails_build.url_for(:action => :index, :only_path => true),

    rails_build.url_for(:action => :configuration, :only_path => true)

  ].map{|href| link_to(href, href)}
%>

<br>
<hr>

<ul>
<% @links.each do |link| %>
  <li>
    <%= link %>
  </li>
<% end %>
</ul>
