<!DOCTYPE html>
<html>
  <head>
    <title>Rails Build</title>

    <style>
      body{
        font-size: 150%;
      }

      a:link,
      a:visited,
      a:active
      {
        color: black;
      }
      a:hover
      {
        color: #FF69B4;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
